<footer>
    <section id="foot-addr">
        <section id="address">
            <address>Head Office: 4A INEC Road, Kpansia, Yenagoa, Bayelsa State, Nigeria.
                <br>
                Branch Office: No. 4, Harbour Road, Port-Harcourt, Rivers State, Nigeria.
                <br>
                <ul>Tel: 
                    <li><a href="tel:+2348065172765">+234 (0) 8065172765</a> </li>
                    <li><a href="tel:+2348078707229">+234 (0) 8078707229</a></li>
                    <li><a href="tel:+2347054826753">+234 (0) 7054826753 </a> </li>
                </ul>

                <ul>Email:
                    <li><a href="mailto:services@gidsfasco.com">services@gidsfasco.com</a></li>
                </ul>
            </address>
        </section>
        <section id="connect">
            <h3>Connect with us</h3>
            <nav>
                <a href="https://#" target="_blank" rel="noopener" title="facebook social media icon"><fa-icon [icon]="fafacebook"></fa-icon></a>
                <a href="https://#" target="_blank" rel="noopener" title="twitter social media icon"><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a href="https://#" target="_blank" rel="noopener" title="LinkedIn social media icon"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                <a href="tel:+2348065172765" target="_blank" rel="noopener" title="Call Gidsfasco"><fa-icon [icon]="faPhone"></fa-icon></a>
                <a href="mailto:contact@gidsfasco.com" target="_blank" rel="noopener" title="Email Gidsfasco icon"><fa-icon [icon]="faEnvelope"></fa-icon></a>
            </nav>
    </section>
    
    </section>
    <p>Copyright &copy; GIDSFASCO Inttegrated Services LTD. All rights reserved.</p>
</footer>