#header img{
    width: 2em;
}

section#header{
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template: 
    "logo   title   hambugger"
    /.7fr    3fr     2fr
    ;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: .5em;
    height: 50px;
    padding: 0 !important
}

#logo{
    grid-area: logo;
}

#title{
    grid-area: title;
    font-size: .6em;
    justify-self: left;
    padding-left: 0.5em;
}

#hambugger{
    grid-area: hambugger;
    background-color: gold;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}


#hambugger a:nth-child(1){
    border-right: 1px solid black;
}

#hambugger a{
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    color: black;
}

fa-icon{
    font-size: 1.5em;

}

.hide{
    display: none;
}

@media  screen and (min-width: 500px) {

    section#header{
        height: 70px;
    }

    #header img{
        width: 3em;
    }

    #title{
        font-size: 1em;
        padding-left: 1em;
    }
}

@media screen and (min-width: 700px){
    section#header{
        grid-template: 
        "logo   title   hambugger"
        /.7fr    3fr     1fr
        ;
    }
}